*{
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
    color: #414141;
    text-align: center;
    margin : 10px 0;
}

#LABEL {
    font-size: 30px;
    color: #414141;
    text-align: center;
    margin: 0;
}

#LABEL2 {
    font-size: 25px;
    color: #414141;
    text-align: center;
    margin-top: 30px;
}

#province, #select-province, #select-sort, #sec-3, #sortBy {
    font-size: 20px;
    color: #414141;
    text-align: center;
    margin: 0;
    padding: 6px 16px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
}

#limit {
    font-size: 20px;
    color: #414141;
    text-align: center;
    margin: 0;
    padding: 6px 0px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    width: 50px;
}

#select-province, #select-sort {
      background-color: #FAFBFC;
      border: 1px solid rgba(27, 31, 35, 0.15);
      box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      color: #24292E;
}

#select-province:hover, #select-sort:hover {
    background-color: #F3F4F6;
}

#test-1, #test-2 {
    width: 49%;
    align-items: center;
}

#sec-1 {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #919191;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 5px;
}

#sec-2 {
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 5px;

}

#sec-3{
    align-items: center;
    background-color: rgb(244, 244, 244);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #919191;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 5px;
}

canvas {
    width: 80%;
}