*{
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}
h1 {
    font-weight: 300;
    font-size: 40px;
    color: #414141;
    margin: 0;
    text-align: center;
    

}

#sec-1 {
    padding: 10px;
    background-color: rgb(154, 126, 93);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sec-2{
    align-items: center;
}


#main-test {
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px, 20px;
}

#test-1, #test-2 {
    width: 49%;
    align-items: center;
}

#doughnutChart {
    background-color: cornflowerblue;
    width: 100%;
    
}

#barChartMF {
    background-color: aquamarine;
    width: 100%;
    align-items: flex-start;
}

canvas {
    width: 80%;
}